/Programación/NetBeansProjects/Libro II/nbproject/private/
/Programación/NetBeansProjects/Ejemplo/nbproject/private/
/Programación/NetBeansProjects/Ejemplo/dist/
/Programación/NetBeansProjects/ProgramacionFuncional/nbproject/private/
/Programación/NetBeansProjects/ProgramacionFuncional/build/
/Programación/NetBeansProjects/Mock/nbproject/private/
/Programación/NetBeansProjects/Mock/build/
/Programación/NetBeansProjects/Snake/nbproject/private/
/Programación/NetBeansProjects/Snake/build/
