#Caja{
    height: 430px;
    width: 300px;
    border: solid 1px green;
    margin: 50px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 2px;
    padding-right: 2px;
}
